@using JsonPrettyPrinterPlus
@model Services.Entities.Image   

<div class="container container-outline">
    <div class="row row-padding">

        <div class="col-md-9">
            <div class="card box-shadow">
                <img src="@Model.FullImageUri" alt="@Model.DeseralisedAnalyse?.Description?.Captions[0].Text" title="@Model.DeseralisedAnalyse?.Description?.Captions[0].Text" class="image" />
            </div>
        </div>
        <div class="col-md-3">

            <h6>Captions</h6>

            <div class="text-muted">
                
                @{
                    if (!string.IsNullOrEmpty(Model.Analyse))
                    {
                        foreach (var caption in @Model.DeseralisedAnalyse.Description?.Captions)
                        {
                            <p title="Confidence @caption.Confidence">@caption.Text</p>
                        }
                    }
                }
                
            </div>

            <h6>Tags</h6>

            <div class="text-muted">
                @if (string.IsNullOrEmpty(Model.Analyse) || !@Model.DeseralisedAnalyse.Description.Tags.Any())
                {
                    <p>No Tags </p>
                }
                else
                {
                    <p>
                        @foreach (var descriptionTag in @Model.DeseralisedAnalyse.Description.Tags)
                        {
                            <text>#@descriptionTag </text>
                        }
                    </p>
                }
            </div>

            <h6>Metadata</h6>

            <div class="text-muted">
                <p>Filename : @Model.Name</p>
                <p>Format : @Model.DeseralisedAnalyse?.Metadata.Format</p>
                <p>Width : @Model.DeseralisedAnalyse?.Metadata.Width</p>
                <p>Height : @Model.DeseralisedAnalyse?.Metadata.Height</p>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div role="tabpanel" class="col-md-12">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="comments-tab" data-toggle="tab" href="#comments" role="tab" aria-controls="comments" aria-expanded="true">Comments</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="home-tab" data-toggle="tab" href="#analyze" role="tab" aria-controls="analyze" aria-expanded="true">Analyse</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="faces-tab" data-toggle="tab" href="#faces" role="tab" aria-controls="faces" aria-expanded="true">Faces</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="describe-tab" data-toggle="tab" href="#describe" role="tab" aria-controls="describe" aria-expanded="false">Describe</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="ocr-tab" data-toggle="tab" href="#ocr" role="tab" aria-controls="ocr" aria-expanded="false">OCR</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="handwriting-tab" data-toggle="tab" href="#handwriting" role="tab" aria-controls="handwriting" aria-expanded="false">Handwriting</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="tag-tab" data-toggle="tab" href="#tag" role="tab" aria-controls="tag" aria-expanded="false">Tag</a>
                </li>
            </ul>
            <div class="tab-content tab-border" id="myTabContent">
                <div class="tab-pane fade active show" id="comments"  role="tabpanel" aria-labelledby="comments-tab" aria-expanded="true">
                    <pre>blah blah</pre>
                    
                    
                    @Html.Partial("_AddComment")
                </div>
                <div class="tab-pane fade" id="analyze" role="tabpanel" aria-labelledby="analyze-tab" aria-expanded="true">
                    <pre>@Model.Analyse?.PrettyPrintJson()</pre>
                </div>
                <div class="tab-pane fade" id="faces" role="tabpanel" aria-labelledby="faces-tab" aria-expanded="false">
                    <pre>@Model.Faces?.PrettyPrintJson()</pre>
                </div>
                <div class="tab-pane fade" id="describe" role="tabpanel" aria-labelledby="describe-tab" aria-expanded="false">
                    <pre>@Model.Description?.PrettyPrintJson()</pre>
                </div>
                <div class="tab-pane fade" id="ocr" role="tabpanel" aria-labelledby="ocr-tab" aria-expanded="false">
                    <pre>@Model.OCR?.PrettyPrintJson()</pre>
                </div>
                <div class="tab-pane fade" id="handwriting" role="tabpanel" aria-labelledby="handwriting-tab" aria-expanded="false">
                    <pre>@Model.Handwriting?.PrettyPrintJson()</pre>
                </div>
                <div class="tab-pane fade" id="tag" role="tabpanel" aria-labelledby="tag-tab" aria-expanded="false">
                    <pre>@Model.Tag?.PrettyPrintJson()</pre>
                </div>
            </div>
        </div>
    </div>
</div>
