@{
    Layout = @"/Features/Shared/_Layout.cshtml";

    var action = this.ViewContext.ActionDescriptor.RouteValues["action"];

    var controller = this.ViewContext.ActionDescriptor.RouteValues["controller"];

    var visonActive = controller.ToLower() == "images" && new[] {"index", "upload", "view"}.Contains(action.ToLower()) ? "active" : string.Empty;

    var identifyActive = controller.ToLower() == "audioidentification" && new[] { "createprofile", "enrollprofile", "identifyspeaker" }.Contains(action.ToLower()) ? "active" : string.Empty;

    var verifyActive = controller.ToLower() == "audioverification" && new[] { "createprofile", "enrollprofile", "verifyspeaker" }.Contains(action.ToLower()) ? "active" : string.Empty;

}

<ul class="nav nav-tabs layout-margin-top">
    <li class="nav-item">
        <a asp-controller="Images" asp-action="Index" class="nav-link @visonActive">Vision</a>
    </li>
    <li class="nav-item">
        <a asp-controller="FaceVerification" asp-action="VerifyFace" class="nav-link @visonActive">Face Verification</a>
    </li>
    <li class="nav-item">
        <a asp-controller="AudioIdentification" asp-action="IdentifySpeaker" class="nav-link @identifyActive">Audio Identification</a>
    </li>
    <li class="nav-item">
        <a asp-controller="AudioVerification" asp-action="VerifySpeaker" class="nav-link @verifyActive">Audio Verification</a>
    </li>
</ul>

@RenderBody()

@section Scripts{
    @RenderSection("Scripts", false)
}